.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }

  &__404 {
    height: 158px;
    line-height: 153px ;
    & h1 {
      font-family: 'Josefin Sans', sans-serif;
      color: #6c6c6c;
      font-size: 220px;
      letter-spacing: 10px;
      margin: 0;
      font-weight: 700;
      text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0px #c9c9c9;

      & > span {
        text-shadow: 2px 2px 0 #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
      }
    }
  }

  .notFound p {
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .link {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #6c6c6c;
    border: 2px solid #6c6c6c;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.2s all;

    &:hover {
      transform: scale(1.1);
    }
  }
}
