.descriptionTextArea {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 1rem;
  .textarea {
    min-height: 150px;
    border-radius: 0.25rem;
    border: 2px solid #007ee5;
    font-size: 1rem;
    padding: 0.5rem;

    &:focus-visible {
      outline: 0;
    }
  }
}