.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid pink;

  .buttonWrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}