.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem 1rem;

  .buttonWrapper {
    display: flex;
    align-items: center;
    .button {
      margin-left: 1rem;
    }
    &>div {
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.12rem;
    }
  }
}