.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;

    .customInput,
    .error {
      width: 350px;
    }
  }
  .redirect-to-login {
    font-size: 0.75rem;
  }
  .registrationLink {
    text-decoration: none;
    color: #007ee5;
  }
}